version: '3.9'
services:
  backend:
#    image: akastav/soebackend:latest
    build:
      context: .
      dockerfile: dockerfile
    container_name: backend
    restart: always
    env_file:
      - dev.env
    ports:
     - "8080:8080"

  postgres:
    image: postgres:15.2
    container_name: postgres
    env_file:
      - dev.env
    ports:
      - "5432:5432"    
    volumes:
      - database:/var/lib/postgresql/data

volumes:
  database:
