name: Pull requests

on:
  workflow_dispatch:
  pull_request:
    branches: [ "master" ]

env:
  # Java
  JAVA_VERSION: 1.17
  MAVEN_VERSION: 3.8
  MAVEN_OPTS: "-XX:+TieredCompilation -XX:TieredStopAtLevel=1"

jobs:
  tests:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v3
      - name: Setup Maven Action
        uses: s4u/setup-maven-action@v1.7.0
        with:
          java-version: ${{ env.JAVA_VERSION }}
          maven-version: ${{ env.MAVEN_VERSION }}

      - name: Maven Test
        continue-on-error: true #Allow failure
        run: |
          mvn dependency:go-offline
          mvn -B test